.embla {
  margin: 1em auto 0;
  width: clamp(200px, 100%, 450px);
  font-size: 2rem;
  overflow: hidden;

  &-container {
    display: flex;
    gap: 0.8rem;
  }

  &-slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}